<a href="{% url 'get_info:index' %}">Home</a>


<h1>Create a new user!</h1>

{% if error_message %}
    <p><strong>{{error_message}}</strong></p>
    
{% else %}
    <form action={% url "get_info:new_user" %} method="post">
    {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
            <p class="help">{{ field.help_text|safe }}</p>
        {% endfor %}
    <input type="submit" value="OK">
    </form>
{% endif %}